.layout-html {
  --main-red: rgb(238, 29, 35);
  --main-yellow: rgb(255, 220, 1);
}
.my-component-colored {
  color: var(--main-red);
}
/* comment */

.with-style-styled-container {
  --main-red: blue;
  border: 1px solid darkgreen;
  background-color: var(--main-yellow);
}

.layout-07636292486845819-html {
  --main-red: rgb(238, 29, 35);
  --main-yellow: rgb(255, 220, 1);
}



.layout-007197588422561219-html {
  --main-red: rgb(238, 29, 35);
  --main-yellow: rgb(255, 220, 1);
}
.my-component-014027826340742644-colored {
  color: rgb(238, 29, 35);
}
.my-component-05929300178593127-colored {
  color: rgb(238, 29, 35);
}


.layout-06927583372417916-html {
  --main-red: rgb(238, 29, 35);
  --main-yellow: rgb(255, 220, 1);
}
.my-component-04439592633565064-colored {
  color: rgb(238, 29, 35);
}
/* comment */

.with-style-05374658968227-styled-container {
  --main-red: blue;
  border: 1px solid darkgreen;
  background-color: rgb(255, 220, 1);
}
.my-component-09657606024908607-colored {
  color: blue;
}
.my-component-010431712170353724-colored {
  color: rgb(238, 29, 35);
}