---
name: Layout
---
<style scoped>
.html {
	--main-red: rgb(238, 29, 35);
	--main-yellow: rgb(255, 220, 1);
}
</style>
<html className={style.html}>
<head>
	<title>{props.title}</title>
	<link href="./statics/site.css" rel="stylesheet"/>
	{props.scopedCss ? (
		<style type="text/css">
			{props.scopedCss}
		</style>
	) : null}
	{!props.scopedCss ? (
		<link href="./statics/scoped.css" rel="stylesheet"/>
	) : null}
	<link href="./statics/elemental.styles.css" rel="stylesheet"/>
</head>
<body>
	<div className="content">
		{props.children}
	</div>
	<hr/>
	Built with <a href="https://github.com/sinnerschrader/schlump">schlump</a> and
	<JsLogo base={props.base}/>
	<JsLogoSvg base={props.base}/>
</body>
</html>
