---
name: Layout
---
<html>
<head>
	<title>{props.title}</title>
	<link href="./statics/site.css" rel="stylesheet"/>
	{props.scopedCss ? (
		<style type="text/css">
			{props.scopedCss}
		</style>
	) : null}
	{!props.scopedCss ? (
		<link href="./statics/scoped.css" rel="stylesheet"/>
	) : null}
</head>
<body>
	<div className="content">
		{props.children}
	</div>
	<hr/>
	Built with <a href="https://github.com/sinnerschrader/schlump">schlump</a> and
	<JsLogo base={props.base}/>
	<JsLogoSvg base={props.base}/>
</body>
</html>
